.d-container {
    background-color: green;
    display: flex;
    height: 65px;
    width: 500px;
}

.d-input-wrapper {
    background-color: red;
    height: 45px;
    width: 395px;
    margin-right: 5px;
    margin-top: auto;
}

.d-btn-wrapper {
    background-color: blue;
    height: 45px;
    width: 100px;
    margin-top: auto;
}