@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,400&display=swap');

$Poppins: 'Poppins' sans-serif;

// Site colors
$siteWhite: #FFFFFF;
$siteBlack: #171C24;
$siteDark: #232D35;
$sitePurple: #AE67FA;
$siteOrange: #F49867;
$siteBlue: #5D9BFC;
$siteGradient: linear-gradient(45deg, rgba($sitePurple, 1), rgba($siteOrange, 1));

// Old colors
$siteDarkBlue: #5572A0;
$siteSecondBlue: #3591AE;
$siteBrown: #9FA2A7;
$sitePurple: #A899FA;
$siteLightPurple: #B8BFE9;
$siteHomeBlue: #040E1E;


// Site spacing
$spacing-md: 16px;
$spacing-lg: 32px;
$siteWidth: 1350px;
$inputHeight: 45px;
$itemWidth: $inputHeight;

// Border radius
$borderRadius: 12px;
$buttonRadius: $borderRadius calc(#{$borderRadius} * 5);

// Header height
$headerHeight: 70px;

@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media(min-width: 48em) {
            @content;
        }
    }
}

@mixin home-breakpoint($point) {
    @if $point == md {
        // 768px
        @media(min-width: 881px) {
            @content;
        }
    }
}