@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,400&display=swap');

$Poppins: 'Poppins' sans-serif;

// Site colors
$siteWhite: #FFFFFF;
$siteBlack: #171C24;
$siteDark: #232D35;
$siteDarkBlue: #5572A0;
$siteBlue: #5D9BFC;
$siteSecondBlue: #3591AE;
$siteBrown: #9FA2A7;
$sitePurple: #A899FA;
$siteLightPurple: #B8BFE9;
$siteGradient: linear-gradient(45deg, rgba($siteBlue, 1), rgba($sitePurple, 1));

// Site spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// Border radius
$borderRadius: 12px;
$buttonRadius: $borderRadius calc(#{$borderRadius} * 5);

// Header height
$headerHeight: 60px;

@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media(min-width: 48em) {
            @content;
        }
    }
}