@import './../../globalStyles/variables.scss';

$itemHeight: 45px;
$itemWidth: $itemHeight;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: $siteDark;
  overflow: show;
}

.container {
  max-width: 440px;
  padding: 0 20px;
  margin: 50px auto;
}

// Floating box around login items
.wrapper {
  width: 100%;
  border-radius: 5px;
  background: 
      url('../../images/LoginBorderBottom.png'),
      $siteBlack;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

// Area containing title text
.wrapper .title{
  height: 90px;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Keep login items inside floating box
.wrapper form{
  padding: 10px 15px 25px 15px;
}

// Placeholder input text
.placeholder {
  color: $siteWhite;
  font-family: sans-serif;
  line-height: 15px;
  top: 16px;
  left: 55px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
}

// Area for placeholder to fade into
.cut{
  background-color: $siteBlack;
  border-radius: 10px;
  height: 20px;
  left: 45px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
}

// Area for email cut
.email{
  width: 55px;
}

// Area for password cut
.password{
  width: 73px;
}

// Spacing for login items
.wrapper form .input-container{
  height: $itemHeight;
  margin-bottom: 30px;
  position: relative;
  border-radius: $borderRadius;
  background-color: $siteDark;
}

// Styling for email and pwd
.wrapper form .input-container .input{
  height: 100%;
  width: calc(100% - 45px);
  margin-left: $itemHeight;
  padding-left: 10px;
  border-radius: $borderRadius;
  background-color: $siteDark;
  color: $siteWhite;
  border: none;
  outline:none;
  font-size: 16px;
  transition: all 0.3s ease;
}

// What happens when you click on input field  
form .row input:focus{
  border: none;
  outline:none;
}

// Prpoerties of the .cut area after the input area is clicked on
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-25px) translateX(0px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: $siteWhite;
}

.input:focus ~ .placeholder {
  color: $siteBlue;
}

// Icons preceeding input field
.wrapper form i{
  position: absolute;
  height: $itemHeight;
  width: $itemWidth;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Spacing for forgot pwd
.wrapper form .pass{
  text-align: center;
  margin: -10px 0 20px 5px;
}

// Forgot pwd decoration
.wrapper form .pass a{
  color: $siteBlue;
  font-size: 17px;
  text-decoration: none;
}

// Forgot pwd hover decoration
.wrapper form .pass a:hover{
  text-decoration: underline;
}

// Alignment of login button
.wrapper form .rowLogin{
  text-align: center;
}

// Styling for login button
.wrapper form .rowLogin input{
  height: $itemHeight;
  width: 85%;
  border-radius: $buttonRadius;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}

// Login button decoration
.wrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: $siteGradient;
  border: 1px solid transparent;
  transition: 0.3s ease all;
  cursor: pointer;
}

// Login button hover decoration
form .button input:hover{
  border-color: $sitePurple;
  background: rgba($siteBlue, 0.1);
  color: $siteWhite;
}

hr{
  margin-top: 30px;
  height: 2px;
  border-width: 0;
  background-color: $siteDark;
}

// Not a member spacing
.wrapper form .signup-link{
  text-align: center;
  color: $siteWhite;
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 16px;
}

// Signup now link decoration
.wrapper form .signup-link a{
  color: $siteBlue;
  font-size: 17px;
  text-decoration: none;
}

// Signup now link hover decoration
form .signup-link a:hover{
  text-decoration: underline;
}