@import './../../globalStyles/variables.scss';

.signup-header-bg {
  top: 0;
  width: 100%;
  height: 70px;
  background-color: $siteBlack;
}

.signup-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px);
  font-family: 'Poppins', sans-serif;
  background: $siteDark;
  overflow: show;
}

.signup-box-container {
  width: 450px;
  padding: 0 20px;
  margin: auto;
}

// Floating box around sign in items
.signup-box-wrapper {
  width: 100%;
  border-radius: 5px;
  background: 
      url('../../images/SignInBorderBottom.png'),
      $siteBlack;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

// Area containing title text
.signup-title {
  height: 90px;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Keep signup items inside floating box
.signup-box-wrapper form {
  padding: 10px 15px 25px 15px;
}

// Spacing for signup items
.signup-input-container {
  position: relative;
  height: $inputHeight;
  margin-bottom: 30px;
  border-radius: $borderRadius;
  background-color: $siteDark;
}

// Alignment of signup button
.signup-btn-container{
  text-align: center;
}

// Styling for signup button
.signup-btn-container input{
  height: $inputHeight;
  width: 85%;
  border-radius: $borderRadius;
  border: 1px solid lightgrey;
  font-size: 16px;
}

// signup button decoration
.signup-btn input{
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  cursor: pointer;
  outline: none;
  padding: 5px 10px;
  border-radius: 20px;
  background: $siteBlack;
  color: $siteOrange;
  border: 1px solid $siteOrange;
  transition: 0.3s ease all;

  &:hover {
    background: $siteOrange;
    color: $siteWhite;
  }
}

// Not a member spacing
.signin-link {
  text-align: center;
  color: $siteWhite;
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 16px;
}

// Signup now link decoration
.signin-link a {
  color: $sitePurple;
  font-size: 17px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.signup-box-wrapper hr {
  margin-top: 30px;
  height: 2px;
  border-width: 0;
  background-color: $siteDark;
}