@import './../../globalStyles/variables.scss';


.home-container {
  position:absolute;
  background-color: $siteWhite;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.home-container .home-row {
  width: 100%;
  max-width: $maxWidth;
  height: calc(100vh - 70px); // 70px is $headerHeight, but var doesnt work in calc()
  margin: 80px auto auto auto;

  @media screen and (min-width: $medSize) {
    margin: 100px auto auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-70px);

  }
}

.home-row .text-col {
  width: 100%;
  position: relative;

  @media screen and (min-width: $medSize) {
    width: 45%;
  }
}

.text-col .main-text {
  width: 100%;
  font-size: 40px;
  font-weight: bold; 
  line-height: 40px;
  text-align: center;
  margin-top: 15px;
  padding: 0px 20px;

  @media screen and (min-width: $medSize) {
    font-size: 50px;
    line-height: 50px;
    text-align: left; 
  }

  @media screen and (min-width: $regSize) { 
    font-size: 60px;
    line-height: 60px;
  }

}

.text-col .sub-text {
  width: 100%;
  font-size: 20px; 
  line-height: 25px;
  text-align: center;
  margin-top: 10px;
  padding: 0px 20px 10px 20px;

  @media screen and (min-width: $medSize) {
   text-align: left; 
  }
}

.text-col .signup-wrapper {
  width: 90%;
  margin: 12px auto 0px auto;
  height: 95px; // Room for 2 $inputHeight and 5px spacing
  padding: 0px 20px;


  @media screen and (min-width: $medSize) {
    width: 100%;
    height: 45px;
    margin: 12px 0 0 0;
  }

  @media screen and (min-width: $regSize) {
    
  }

  @media screen and (min-width: $lrgSize) {
    
  }
}

.signup-wrapper .signup-cut{
  background-color: $siteWhite;
  border-radius: 10px;
  height: 20px;
  margin-left: 15px;
  transform: translateY(-65px);
  transition: transform 200ms;
  width: 50px;
}

.signup-wrapper .placeholder {
  color: $siteWhite;
  pointer-events: none;
  margin-left: 15px;
  font-size: 1rem;
  transform: translateY(-55px);
  transition: transform 200ms, color 200ms;
}

.signup-wrapper .signup-input {
  width: 100%;
  height: $inputHeight;
  padding-left: 15px;
  border-radius: $borderRadius;
  background-color: $siteDark;
  color: $siteWhite;
  border: none;
  outline: none;

  @media screen and (min-width: $medSize) {
    
  }

  @media screen and (min-width: $regSize) {
    width: 73%;
  }

  @media screen and (min-width: $lrgSize) {
    
  }
}

// Prpoerties of the .signin-cut area after the input area is clicked on
.signup-input:focus ~ .signup-cut,
.signup-input:not(:placeholder-shown) ~ .signup-cut {
  transform: translateY(-57px);
}

// Properties of placeholder after the input area is clicked on
.signup-input:focus ~ .placeholder,
.signup-input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-78px) translateX(2px) scale(0.85);
}

.signup-input:not(:placeholder-shown) ~ .placeholder {
  color: $siteDark;
}

.signup-input:focus ~ .placeholder {
  color: $siteDark;
}

.signup-wrapper .signup-btn {
  width: 100%;
  height: $inputHeight;
  border-radius: $borderRadius;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: $buttonGradient;
  border: 1px solid transparent;
  transition: 0.5s ease all;
  cursor: pointer;
  transform: translateY(-47px);

  @media screen and (min-width: $regSize) {
    width: 25%;
    float: right;
    transform: translateY(-65px);
  }

  &:hover {
    transition: 0.3s ease all;
    border-color: $siteDarkPurple;
    background: rgba($siteDarkPurple, 0.5);
  }

  &:active {
    transition: 0.3s ease all;
    border-color: $siteDarkPurple;
    background: rgba($siteDarkPurple, 0.5);
  }
}

.home-row .pic-col {
  width: 100%;
  margin-top: 20px;

  @media screen and (min-width: $medSize) {
    margin-top: 0;
    width: 55%;
    height: 400px;
  }

  @media screen and (min-width: $regSize) {
    
  }

  @media screen and (min-width: $lrgSize) {
    
  }
}

.pic-col .pic {
  width: 90%;
  aspect-ratio: 783 / 565;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $medSize) {
    width: 100%;
  }

  @media screen and (min-width: $regSize) {
    
  }

  @media screen and (min-width: $lrgSize) {
    
  }
}