@import './../../globalStyles/variables.scss';

.home-page-container {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, rgba($siteWhite, 0.9), rgba($siteSecondWhite, 1));
}

.content-row {
  height: 100%;
  width: 100%;
  max-width: $maxWidth;
  padding: 100px 20px 0px 20px;
  margin: auto;

  @media screen and (min-width: 950px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 100px 30px 0px 30px;
  }
}

.home-text-col-container {
  width: 100%;

  @media screen and (min-width: 950px) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.home-text-col {
  @media screen and (min-width: 950px) {
    transform: translateY(-70px);
  }
}

.home-main-text {
  width: 100%;
  font-size: 40px;
  line-height: 44px;
  font-weight: 800; 
  text-align: center;
  margin-bottom: 15px;

  @media screen and (min-width: 542px) {
    font-size: 56px;
    line-height: 60px;
  }

  @media screen and (min-width: 760px) {
    font-size: 72px;
    line-height: 76px;
    text-align: left;
  }
}

.home-sub-text {
  width: 100%;
  font-size: 20px; 
  line-height: 28px;
  text-align: center;

  @media screen and (min-width: 760px) {
    font-size: 24px; 
    line-height: 32px;
    text-align: left;
  }
}

.home-signup-container {
  height: 115px; // 2 $inputHeight + 20px for cut + 5px spacing in between
  width: 100%;
  max-width: 550px;
  padding-top: 20px;
  margin: auto;

  @media screen and (min-width: 542px) {
    display: flex; 
    height: 65px; // 1 $inputHeight + 20px for cut
  }

  @media screen and (min-width: 760px) {
    width: 550px;
    margin: 0;
  }
}

.home-signup-input {
  height: $inputHeight;
  width: 100%;
  margin-bottom: 5px;

  @media screen and (min-width: 542px) {
    width: calc(100% - 5px - 150px);
    margin-right: 5px;
  }
}

.home-signup-btn {
  height: $inputHeight;
  width: 100%;

  input {
    height: $inputHeight;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    cursor: pointer;
    outline: none;
    padding: 5px 10px;
    border-radius: $borderRadius;
    background: $siteOrange;
    color: $siteWhite;
    border: 1px solid $siteOrange;
    transition: 0.3s ease all;
  
    &:hover {
      background: $siteWhite;
      color: $siteOrange;
    }
  }

  @media screen and (min-width: 542px) {
    width: 150px;
  }
}

.home-pic-col {
  width: 100%;
  margin-top: 20px;
  position: relative;
  text-align: initial;

  @media screen and (min-width: 950px) {
    margin-top: 0px;
    height: 752px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.home-pic {
  aspect-ratio: 783 / 565;
  width: 100%;
  

  @media screen and (min-width: 542px) {
    width: 600px;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  @media screen and (min-width: 760px) {
    width: 675px;
    left: 0%;
    transform: translateX(0%);
  }

  @media screen and (min-width: 950px) {
    width: 675px;
    left: 0%;
    transform: translateX(0%);
    transform: translateY(-70px);
  }
}