@import './../../globalStyles/variables.scss';

$inputHeight: 45px;
$itemWidth: $inputHeight;

.home-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 60px);
  background: linear-gradient(45deg, rgba(#5D9BFC, 1), rgba(#A899FA, 1));
  overflow: hidden;
  
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    min-width: 300vw;
    min-height: 300vw;
    background: radial-gradient(ellipse at bottom, #232D35 65%, #171C24 100%);
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  &:before {
    bottom: 15vh;
    border-radius: 45%;
    animation-duration: 10s;
  }
  
  &:after {
    bottom: 12vh;
    opacity: .5;
    border-radius: 47%;
    animation-duration: 10s;
  }
}

@keyframes rotate {
  0% {transform: translate(-50%, 0) rotateZ(0deg);}
  50% {transform: translate(-50%, -2%) rotateZ(180deg);}
  100% {transform: translate(-50%, 0%) rotateZ(360deg);}
}

.home-container .main-container {
  z-index: 2;
  margin: auto;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.main-container .row {
  margin-top: 5%;
  margin-left: 40px;
  margin-right: 40px;
  max-width: $siteWidth;
  height: 100%;
}

.row .text-view {
  background-color: orange;
  color: $siteWhite;
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  // transform: translateY(-50%, -50%);
  padding:0 1.5em;
}

.text-view .main {
  font-family: 'Poppins', sans-serif;
  font-size: 66px;
  font-weight: bolder;
  line-height: 66px;
  color: white;
}

.text-view .sub {
  font-size: 24px;
  color: white;
}

.text-view .signup {

}

.signup form .home-input-container{
  display: flex;
  height: $inputHeight;
  margin-top: 15px;
  margin-bottom: 30px;
  position: relative;
  text-align: left;
  border-radius: $borderRadius;
  background-color: $siteDark;
}

.home-input-container .home-input {
  height: 100%;
  width: calc(100% - 125px);
  padding-left: 10px;
  border-radius: $borderRadius;
  background-color: $siteBlack;
  border: none;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

.home-input-container .home-cut {
}

.home-input-container .home-email {
}

.home-input-container .home-signin-btn {
  width: 125px;
  margin-left: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: $siteGradient;
  border: 1px solid transparent;
  transition: 0.5s ease all;
  cursor: pointer;
  border-radius: $borderRadius;
}

.home-input-container .home-signin-btn:hover {
  border-color: $sitePurple;
  background: rgba($siteBlue, 0.3);
  color: $siteWhite;
}

.home-input-container .placeholder {
  color: $siteWhite;
  font-family: sans-serif;
  line-height: 15px;
  top: 16px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
}

.row .pic-view {
  position: relative;
  background-color: green;
}

.pic-view .pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  max-height: 500px;
  margin-bottom: 50px;
}
