@import './../../globalStyles/variables.scss';


.header {
  position: absolute;
  background: transparent;
  width: 100%;
  height: $headerHeight;
  transition: 0.3s ease all;

  @media screen and (min-width: $minSize) {
    padding: 0 40px;
  }

  

  &__content {
    font-family: $Poppins;
    font-size: 18px;
    font-weight: 600;
    max-width: $maxWidth;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 100;

    &__logo {
      img {
        transition: 0.3s ease all;
        height: 41px;
        width: 90px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto; 
        margin-left: 20px; // For mobile

        @media screen and (min-width: $minSize) {
          margin-left: 0px;
        }
    
        &:hover {
          transition: 0.3s ease all;
          height: 46px;
          width: 100px;
        }

        &:active {
          transition: 0.3s ease all;
          height: 41px;
          width: 90px;
        }
      }
    }

    &__nav {
      right: 100%;
      display: flex;
      align-items: center;
      position: fixed; // For Mobile

      @media screen and (min-width: $minSize) {
        position: static;
      }

      &__link {
        padding: 0px 32px;

        a {
          text-decoration: none;
          color: $siteWhite;
          display: inline-block;
          position: relative;
  
          &:hover {
            &:after {
              transform: scaleX(1);    
            }
          }
          
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 3px;
            transform: scaleX(0);
            background-color: $siteOrange;
  
            transition: transform 0.3s;
          }
        }
      }

      button {
        cursor: pointer;
        outline: none;
        padding: 5px 10px;
        border-radius: 20px;
        background: $siteBlack;
        color: $siteOrange;
        border: 1px solid $siteOrange;
        transition: 0.3s ease all;

        &:hover {
          background: $siteOrange;
          color: $siteWhite;
          padding: 8px 13px;
        }

        &:active {

        }
      }

      &.isMenu {
          transform: translate(100%);
      }
    }

    &__toggle {
      cursor: pointer;
      align-items: center;
      font-size: 2rem;
      transition: 0.3s ease all;
      position: relative;
      margin-right: 20px;
      display: flex; // For mobile

      &:hover {
        color: $siteDark;
      }

      @media screen and (min-width: $minSize) { 
        display: none;
      }
    }
  }
}

